@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 23.5px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat;
}

input,
button,
textare {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ---------------------------------- */
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  z-index: 0;
}

.header {
  background: url("../img/main/3.png");
  position: absolute;
  width: 100%;
  z-index: 50;
  display: grid;
  grid-template: 98px/auto 1fr;
  grid-auto-flow: column;
  align-items: center;
}
.header__logo {
  padding: 90px;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: -1.5px;
}
.header__menu {
  padding-right: 113px;
  display: grid;
  grid-template: 1fr/1fr auto;
}
@media (max-width: 700px) {
  .header__menu {
    padding-right: 56px;
  }
  .header__logo {
    padding: 45px;
  }
}
@media (max-width: 570px) {
  .header__logo {
    padding: 22px;
  }
}

.menu__list {
  grid-column: 2/3;
  display: grid;
  grid-template: 1fr/repeat(4, auto);
  grid-auto-flow: column;
  align-items: center;
  gap: 0 50px;
}
@media (max-width: 1024px) {
  .menu__list {
    grid-template: 1fr 1fr/repeat(2, auto);
  }
}
@media (max-width: 570px) {
  .menu__list {
    gap: 0 25px;
  }
}
.menu__item {
  padding: 10px;
}
.menu__link {
  font-size: 20px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -1px;
  text-align: center;
  color: rgba(255, 255, 255, 0.76);
}
@media (max-width: 1780px) {
  .menu__link {
    color: rgb(255, 255, 255);
  }
}

.logo__item1 {
  color: rgba(255, 255, 255, 0.75);
}
@media (max-width: 1780px) {
  .logo__item1 {
    color: rgb(255, 255, 255);
  }
}
.logo__item2 {
  color: rgba(255, 255, 255, 0.75);
  font-weight: normal;
}
@media (max-width: 1780px) {
  .logo__item2 {
    color: rgb(255, 255, 255);
  }
}

.main__hi {
  position: relative;
}
.main__experience {
  background: #0b0b0a url("../img/experience/22.png") center no-repeat;
}
.main__services {
  background: url("../img/services/13.png") center/100% 100% no-repeat;
}
@media (max-width: 1380px) {
  .main__services {
    background: url("../img/services/13.png") center/auto 100% no-repeat;
  }
}
.main__slider {
  background: url("../img/slider/44.png") center/auto 100% no-repeat, url("../img/slider/43.png") center/auto 100% no-repeat;
}
@media (min-width: 1920px) {
  .main__slider {
    background: url("../img/slider/44.png") center/100% 100% no-repeat, url("../img/slider/43.png") center/100% 100% no-repeat;
  }
}
.hi__content {
  position: absolute;
  right: 118px;
  bottom: 50%;
  transform: translate(0, 50%);
  text-align: right;
}
.hi__title {
  font-size: 67.5px;
  font-weight: 600;
  letter-spacing: -3.38px;
  color: rgba(255, 255, 255, 0.79);
  margin-bottom: 32px;
}
@media (max-width: 1780px) {
  .hi__title {
    color: rgb(255, 255, 255);
  }
}
.hi__text {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: -1.5px;
  color: rgba(255, 255, 255, 0.76);
  margin-bottom: 43px;
}
@media (max-width: 1780px) {
  .hi__text {
    color: rgb(255, 255, 255);
  }
}
.hi__button {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -1.5px;
  color: #fff;
  padding: 25px;
  border: solid 2px #fff;
}
@media (max-width: 1780px) {
  .hi__button {
    color: rgb(255, 255, 255);
  }
}
.hi__number {
  position: absolute;
  right: 118px;
  bottom: 63px;
  font-size: 52px;
  letter-spacing: -2.6px;
  color: rgba(254, 254, 254, 0.74);
}
@media (max-width: 1780px) {
  .hi__number {
    color: rgb(255, 255, 255);
  }
}
@media (max-width: 1024px) {
  .hi__number {
    bottom: 163px;
  }
}
.hi__skip {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 270px;
  height: 110px;
  border: rgba(255, 255, 255, 0.28) solid 10px;
  border-bottom: 0;
  border-radius: 50% 50% 0 0/100% 100% 0 0;
}
.hi__skip::after {
  content: "";
  background: url("../img/main/1.png") no-repeat 18px 13px;
  width: 67px;
  height: 67px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: rgba(255, 255, 255, 0.28) solid 5px;
  border-radius: 50%;
}
.hi__image {
  min-height: 1080px;
}
@media (max-width: 1780px) {
  .hi__image {
    opacity: 0.7;
  }
}
@media (max-width: 750px) {
  .hi__image img {
    left: -350px;
  }
}
@media (max-width: 380px) {
  .hi__image img {
    left: -540px;
  }
}
@media (max-width: 1300px) {
  .hi__title {
    font-size: 50px;
  }
}
@media (max-width: 700px) {
  .hi__content {
    padding-left: 20px;
    text-align: center;
    right: 60px;
  }
  .hi__number {
    padding-left: 20px;
    text-align: center;
    right: 60px;
  }
}
@media (max-width: 340px) {
  .hi__content {
    padding-left: 10px;
    right: 30px;
  }
  .hi__number {
    padding-left: 10px;
    right: 30px;
  }
}

.works__title {
  text-align: center;
  font-size: 48.5px;
  font-weight: 200;
  line-height: 1.36;
  letter-spacing: -2.43px;
  color: #000;
  padding: 97px 0;
}
.works__body {
  height: 2000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));
}
@media (max-width: 500px) {
  .works__body {
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  }
}
@media (max-width: 300px) {
  .works__body {
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  }
}
.works__item-big {
  grid-column: span 2;
  position: relative;
}
.works__item-big img {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1300px) {
  .works__item-big {
    grid-column: span 1;
  }
}
.works__item {
  position: relative;
}
.works__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works__footer {
  text-align: center;
  padding: 65px 0;
}
.works__button {
  display: inline-block;
  font-size: 23px;
  line-height: 1.15;
  letter-spacing: -1.15px;
  text-align: center;
  color: #000;
  border: solid 3px #000;
  padding: 24px 40px;
}

.experience__content {
  padding: 125px 0;
  padding-left: 132px;
}
@media (max-width: 1600px) {
  .experience__content {
    padding-left: 66px;
  }
}
@media (max-width: 992px) {
  .experience__content {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .experience__content {
    padding-left: 30px;
  }
}
.experience__logo {
  font-size: 51.5px;
  font-weight: 100;
  padding-right: 77px;
  display: inline-block;
  padding-bottom: 20px;
}
@media (max-width: 992px) {
  .experience__logo {
    font-size: 41.5px;
  }
}
@media (max-width: 300px) {
  .experience__logo {
    margin-left: -20px;
  }
}
.experience__title {
  position: relative;
  display: inline-block;
  font-size: 43px;
  line-height: 1.26;
  letter-spacing: -2.15px;
  text-align: center;
  color: #fff;
  padding-bottom: 41px;
  padding-right: 125px;
}
.experience__title::after {
  content: "Да, нам есть чем гордиться.";
  font-size: 24px;
  font-weight: 100;
  line-height: 1.35;
  letter-spacing: -1.2px;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 1200px) {
  .experience__title::after {
    padding-right: 60px;
  }
}
@media (max-width: 992px) {
  .experience__title {
    font-size: 33.5px;
    padding-bottom: 65px;
  }
}

.services__body {
  padding-bottom: 223px;
}
@media (max-width: 1450px) {
  .services__body {
    padding-bottom: 180px;
  }
}
@media (max-width: 1024px) {
  .services__body {
    padding-bottom: 90px;
  }
}
.services__title {
  padding: 94px 0;
  font-size: 48.5px;
  font-weight: 200;
  line-height: 1.36;
  letter-spacing: -2.43px;
  text-align: center;
  color: #000;
}
.services__items {
  display: flex;
  flex-wrap: wrap;
}

.items__item {
  min-width: 458px;
  margin: 0 auto;
}
.items__item:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 1650px) {
  .items__item:first-child {
    margin-left: 130px;
  }
  .items__item:last-child {
    margin-right: 130px;
  }
}
@media (min-width: 1920px) {
  .items__item:first-child {
    margin-left: 230px;
  }
  .items__item:last-child {
    margin-right: 230px;
  }
}
@media (max-width: 450px) {
  .items__item {
    min-width: 100%;
  }
}
.items__image {
  position: relative;
  height: 458px;
  margin-bottom: 20px;
}
.items__image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36.5px;
  letter-spacing: -1.83px;
  text-align: center;
  color: #fff;
}
@media (max-width: 450px) {
  .items__image-text {
    font-size: 30px;
  }
}
.items .words2 b {
  margin-right: 10px;
}
.items__text {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -1px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 14px;
}
.items__button {
  font-size: 29.5px;
  letter-spacing: -1.48px;
  text-align: center;
  color: #000;
  border: solid 3px #000;
  height: 117px;
  padding-top: 40px;
}

.slider__content {
  padding: 165px;
  text-align: center;
  position: relative;
}
@media (max-width: 1024px) {
  .slider__content {
    padding: 165px 105px;
  }
}
@media (max-width: 700px) {
  .slider__content {
    padding: 105px;
  }
}
@media (max-width: 600px) {
  .slider__content {
    padding: 50px;
  }
}
@media (max-width: 350px) {
  .slider__content {
    padding: 25px;
  }
}
.slider__title {
  font-size: 37.5px;
  font-weight: bold;
  letter-spacing: -1.88px;
  color: #fff;
  margin-bottom: 82px;
}
@media (max-width: 600px) {
  .slider__title {
    font-size: 27px;
  }
}
.slider__text {
  font-size: 34px;
  font-weight: 300;
  line-height: 1.78;
  letter-spacing: -1.7px;
  color: #fff;
  max-width: 1330px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .slider__text {
    font-size: 24px;
  }
}
.slider__back-button {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  width: 28px;
  height: 50px;
  left: 93px;
}
@media (max-width: 1024px) {
  .slider__back-button {
    left: 33px;
  }
}
@media (max-width: 600px) {
  .slider__back-button {
    display: none;
  }
}
.slider__next-button {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: 93px;
  width: 28px;
  height: 50px;
}
@media (max-width: 1024px) {
  .slider__next-button {
    right: 33px;
  }
}
@media (max-width: 600px) {
  .slider__next-button {
    display: none;
  }
}

.partners__header {
  text-align: center;
  padding: 33px 0;
  border-bottom: 1px solid rgb(87, 85, 85);
}
.partners__title {
  font-size: 34.5px;
  font-weight: 300;
  letter-spacing: -1.73px;
  color: #000;
}
.partners__main {
  display: flex;
}
.partners__body {
  padding: 60px 115px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-left: -80px;
}
@media (max-width: 600px) {
  .partners__body {
    flex-direction: column;
    padding: 60px 30px;
    margin-left: auto;
  }
}
.partners__image {
  margin: 0 auto;
}
.partners__image img {
  min-width: 125px;
  margin-left: 80px;
}
@media (max-width: 500px) {
  .partners__image img {
    margin-left: 0;
  }
}
.partners__image:not(:last-child) {
  margin-bottom: 40px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 66px 0 0 159px;
}
.footer__body {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .footer__body {
    flex-direction: column;
  }
}
.footer__logo {
  font-size: 51.5px;
  font-weight: 100;
  position: relative;
  padding: 20px 77px 5px 0;
  display: inline-block;
  height: 100%;
  margin: 0 20px 58px 20px;
}
@media (max-width: 500px) {
  .footer__logo {
    font-size: 41.5px;
  }
}
@media (max-width: 1430px) {
  .footer__logo {
    margin: 0 auto;
    margin-bottom: 58px;
    transform: translate(-25%, 0);
  }
}
@media (max-width: 800px) {
  .footer__logo {
    transform: translate(0, 0);
  }
}
.footer__logo::after {
  content: "*Продакшн студия";
  font-size: 8.5px;
  font-weight: 300;
  letter-spacing: -0.43px;
  color: rgba(255, 255, 255, 0.56);
  position: absolute;
  bottom: 0;
  right: 95px;
}
.footer__logo .logo__item2 {
  padding-right: 15px;
}
.footer__connection {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}
@media (max-width: 1100px) {
  .footer__connection {
    display: block;
  }
}
@media (max-width: 800px) {
  .footer {
    padding-left: 59px;
  }
}
@media (max-width: 450px) {
  .footer {
    padding-left: 29px;
  }
}
@media (max-width: 350px) {
  .footer {
    padding-left: 15px;
  }
}

.connection__column {
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
}
.connection__column:not(:last-child) {
  margin-right: 100px;
}
.connection__title {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -1.3px;
  color: #fff;
  margin-bottom: 30px;
}
.connection__body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-right: 10px;
}
.connection .body-column {
  flex-direction: row;
  margin: 0 auto;
}
.connection__image {
  padding-top: 15px;
  margin-right: 22px;
}
.connection__text {
  font-size: 23.5px;
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: -1.18px;
  color: rgba(255, 255, 255, 0.56);
  margin-bottom: 14px;
}
.connection__text span {
  margin-left: -5px;
}